@layout('layouts.app')

@section('content')
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ post.image }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>404 PAGE NOT FOUND</h1>
              <h2 class="subheading">Please check the details you filled and try again</h2>
              <h3 class="subheading"><a href="/">Return back home</a></h3>
            </div>
          </div>
        </div>
      </div>
    </header>
    <hr>
@endsection
